<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Client</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <h1>Create a New Client</h1>

    Fill out all of the below fields with respect to the person who has down syndrome. You will be able to add information about yourself and other family
    members/connections later.
    <br>
    <br>

    <form action="/submit" method="POST">
        {% for field in client_fields %}
        {% if field[2]!="dropdown" %}
        <label for="{{field[0]}}">{{field[1]}}</label><br>
        <input type={{field[2]}} id={{field[0]}} name={{field[0]}} required><br>
        {% endif %}

        {% if field[2] == "dropdown" %}
        {% set outer_index = loop.index0 %}
        <label for="{{ field[0] }}">{{ field[1] }}:</label><br>

        <select name="{{ field[0] }}" id="{{ field[0] }}" onchange="checkOther(this, '{{ field[0] }}')">
            {% for i in range(field|length - 3) %}
            <option value="{{ field[i+3] }}">{{ field[i+3] }}</option>
            {% endfor %}
        </select>

        {# Show the "Other" input box if the value is unmatched #}
        <input type="text" id="{{ field[0] }}_other" name="{{ field[0] }}_other"
               placeholder="Specify Other"
               style="display: {% if not is_value_in_dropdown %}block{% else %}none{% endif %};">
        {% endif %}
        {% endfor %}


        <button class="button-primary" type="submit">Submit</button>
    </form>

    <script>function checkOther(selectElement, fieldName) {
            var selectedValue = selectElement.value;
            var otherField = document.getElementById(fieldName + '_other');

            if (selectedValue === 'Other') {
                otherField.style.display = 'block';
            } else {
                otherField.style.display = 'none';
            }
        }
        window.onload = function () {
            var dropdowns = document.querySelectorAll('select');
            dropdowns.forEach(function (dropdown) {
                checkOther(dropdown, dropdown.id);
            });
        };</script>

</body>
</html>
