<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit an Existing Client</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Edit an Existing Client</h1>
    <form action="/edit" method="POST">
        <label for="email">Enter Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="name">New Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>
        <input type="submit" value="Edit">
    </form>
</body>
</html>
