<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit an Existing Client</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Manage {{info[0]}}'s Account</h1>
    ID Number: {{ID}}

    <form action="/edit-contact" method="POST">
        <input type="hidden" name="ID" value="{{ID}}">
        <input type="hidden" name="index" value="{{index}}">

        <label for="first_name">First Name:</label><br>
        <input type="text" id="first_name" name="first_name" value={{info[0]}} required><br>

        <label for="last_name">Last Name:</label><br>
        <input type="text" id="last_name" name="last_name" value={{info[1]}} required><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" value={{info[2]}} required><br><br>

        <label for="relationship">Relationship:</label><br>
        <input type="text" id="relationship" name="relationship" value={{info[3]}} required><br><br>

        <button type="submit">Submit</button>
    </form>

</body>
</html>
