<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit an Existing Client</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header>
        <div class="header-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
            <h1>Manage {{info[0]}}'s Account</h1>
        </div>
    </header>

    
    <h3>ID Number: {{ID}}</h3>

    <br />
    In the Contacts section below, please add any family members or friends who are involved in {{info[0]}}'s care or who are interested in recieving informational emails. You can also edit {{info[0]}}'s information in the bottom section.
    <br />
    <br />
    <h3>Done Editing?</h3>
    <a href="https://www.dsala.org/ ">
        <button class="button-secondary">To DSALA Main Site</button>
    </a>
    <br />

    <h2>{{info[0]}}'s Contacts</h2>
    {% for contact in contacts %}
    {{contact[1]}} {{contact[2]}} ({{contact[3]}})
    <button class="button-secondary" onclick="window.location.href='/edit-contact-button?ID={{ID}}&index={{contact[0]}}'">Edit This Contact</button>
    <br />
    {% endfor %}

    <button class="button-primary" onclick="window.location.href='/create-contact?ID={{ID}}&first_name={{info[0]}}'">Add Contact</button>

    <h2>{{info[0]}}'s Information</h2>
    <i>Fields marked with <span style="color: #f3c96a">*</span> are mandatory.</i>
    <br />
    <br />

    <form action="/edit" method="POST">
        <input type="hidden" name="ID" value="{{ID}}">
        {% set count = 0 %}
        {% for field in client_fields %}
        {% set count = count + 1 %}
        {% if field[2] != "dropdown" %}
        {% if field[3] == 'Y' %}
        <label for="{{ field[0] }}">{{ field[1] }}<span style="color: #f3c96a">*</span></label><br>
        <input type="{{ field[2] }}" id="{{ field[0] }}" name="{{ field[0] }}" value="{{ info[loop.index0] }}" required><br>
        {% endif %}
        {% if field[3] == 'N' %}
        <label for="{{ field[0] }}">{{ field[1] }}</label><br>
        <input type="{{ field[2] }}" id="{{ field[0] }}" name="{{ field[0] }}" value="{{ info[loop.index0] }}"><br>
        {% endif %}
        {% endif %}
        {% if field[2] == "dropdown" %}
        {% set outer_index = loop.index0 %}
        <label for="{{ field[0] }}">{{ field[1] }}<span style="color: #f3c96a">*</span></label><br>
        {% set is_value_in_dropdown = info[outer_index] in field[3:] %}
        <select name="{{ field[0] }}" id="{{ field[0] }}" onchange="checkOther(this, '{{ field[0] }}')">
            {% for i in range(field|length - 3) %}
            <option value="{{ field[i+3] }}"
                    {% if (field[i+3]==info[outer_index]) or (not is_value_in_dropdown and field[i+3]=='Other' ) %}selected{% endif %}>
                {{ field[i+3] }}
            </option>
            {% endfor %}
        </select>
        <br />

        <input type="text" id="{{ field[0] }}_other" name="{{ field[0] }}_other"
               placeholder="Specify Other"
               style="display: {% if not is_value_in_dropdown %}block{% else %}none{% endif %};"
               value="{% if not is_value_in_dropdown %}{{ info[outer_index] }}{% endif %}">
        {% endif %}
        {% endfor %}
        <br>
        <p><label for="notes">Notes</label></p>

        <textarea id="notes" name="notes" rows="4" cols="50">
{{info[count - 1]}}
        </textarea>
        <br />
        <br>
        <button class="button-primary" type="submit">Save Changes</button>
    </form>

    <script>function checkOther(selectElement, fieldName) {
            var selectedValue = selectElement.value;
            var otherField = document.getElementById(fieldName + '_other');
            otherField.style.display = selectedValue === 'Other' ? 'block' : 'none';
        }

        window.onload = function () {
            var dropdowns = document.querySelectorAll('select');
            dropdowns.forEach(function (dropdown) {
                checkOther(dropdown, dropdown.id);
            });
        };</script>

</body>
</html>
