<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>


    <header>
        <div class="header-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
            <h1>Account Management</h1>
        </div>
    </header>


    Welcome to the DSALA Account Management System. Here, you can create an account for a loved one with Down syndrome by providing us with information about them and your family. This will allow us to give you personalized resources and connect you with others in similar situations. Use one of the buttons below to get started.
   

    <div>
        <button class="button-primary" onclick="window.location.href='/create-client'">New Client</button>
        <button class="button-primary" onclick="window.location.href='/find-client'">Existing Client</button>
    </div>



</body>
</html>
