<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>


    <header>
        <div class="header-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
            <h1>Account Management</h1>
        </div>
    </header>



    Welcome to the DSALA Account Management System. Here you can create an account for a loved one with down syndrome by providing us information about
    them and their family members. This will allow us to provide you with personalized resources and to connect you with others who are in similar situations.
    Use one of the buttons below to get started. 

    <div>
        <button class="button-primary" onclick="window.location.href='/create-client'">New Client</button>
        <button class="button-primary" onclick="window.location.href='/find-client'">Existing Client</button>
    </div>



</body>
</html>
